<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>
    <bean id="classicalMusicBean"
          class="org.example.musics.ClassicalMusic"
          init-method="doMyInit"
          destroy-method="doMyDestroy"
    factory-method="constructClassicalMusic">
    </bean>

    <bean id="popMusicBean"
          class="org.example.musics.PopMusic">
    </bean>

    <bean id="rockMusicBean"
          class="org.example.musics.RockMusic">
    </bean>

    <bean id="musicPlayerBean"
          class="org.example.MusicPlayer" scope="prototype">
        <!--<constructor-arg>
                <list>
                    <ref bean="rockMusicBean"/>
                    <ref bean="popMusicBean"/>
                    <ref bean="classicalMusicBean"/>
                </list>
        </constructor-arg>-->
        <property name="musics" >
            <list>
                <ref bean="popMusicBean"/>
                <ref bean="classicalMusicBean"/>
                <ref bean="rockMusicBean"/>
            </list>
        </property>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>

</beans>